.deliveryFontStyle{
    
    text-transform: none;
    font-family: 'Lato', sans-serif !important;

    .fontStyleStack{
        font-size: 24px;
        text-transform: none;
        font-family: 'Lato', sans-serif;
        color: #646464;
        text-align: center;
    }
    .text{
        font-size: 24px;
        font-family: 'Lato', sans-serif;
    }
    .bold{
        font-weight: bold;
    }
    .title{
        font-size: 32px;
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
        background-color: white;
      }
}