#registationButton{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding: 15px 80px;
    text-transform: none;
    border-radius: 0;
    color: white;
    background: black;
    line-height: 1;
    margin: 20px 0;
}