.paymentByCard{
    button{
        background: black;
        border-radius: 0;
        color: white;
        text-transform: none;
        font-family: 'Lato', sans-serif;
        font-size: 19px;
    }
    button:hover{
        background: #3e3e3e;
    }
    .title{
        font-family: 'Lato', sans-serif;
        font-size: 24px;
    }
}