#forgotPassword{
    color: black;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-radius: 0;
    line-height: 1;
    text-transform: none;
}

#send{
    background-color: black;
    color: white;
    text-transform: none;
    border-radius: 0px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.passwordRecovery{
    justify-content: center;
    .text{
        font-family: "Lato", sans-serif;
    }
}