.thank{
    .text{
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        font-weight: bold;
    }
    button{
        background: black;
        border-radius: 0;
        color: white;
        text-transform: none;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        padding: 5px 40px;
    }
    button:hover{
        background: #3e3e3e;
    }
}